DATABASE_URL="postgresql://neondb_owner:npg_9EcYvQl6NPtH@ep-noisy-wave-aycuzl6e-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
CLOUDINARY_CLOUD_NAME=mgf0usig
CLOUDINARY_API_KEY=7058386279169413344
CLOUDINARY_API_SECRET=IthyCB69V97pv3A7w4-qpOQeiEM7058
GOOGLE_CLIENT_ID=TU_CLIENT_ID.apps.googleusercontent.com